{% extends 'estudiantes/base.html' %}

{% block content %}
    <div>
        <h1><a href="#">Listado de aulas</a></h1>
    </div>
    <div class="col-md-6">
      <div class="btn-group">
        <a href="{% url 'aula_nuevo'%}">
          <button id="sample_editable_1_new" class="btn btn-success">
            Agregar Aula
            <i class="fa fa-plus"></i>
          </button>
        </a>
      </div>
    </div>
<div class="col-md-12 col-sm-12 col-xs-12" >
  <div class="table-responsive">
    <table class="table table-bordered ">
      <thead>
        <tr role="row" class="">
          <th>Nombre</th>
          <th>Encargado</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
        {% for aula in aulas %}
        <tr>
            <td>{{ aula.nombre }}</td>
            <td>{{ aula.encargado }}</td>
            <td>
              <a href="{% url 'aula_ver' pk=aula.pk %}" class="btn btn-warning">Ver</a>
              <a href="{% url 'aula_editar' pk=aula.pk %}" class="btn btn-primary">Editar</a>
            </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
