{% extends 'estudiantes/base.html' %}

{% block content %}
<div class="portlet-body">
  <div class="portlet-title">
    <h1>Listado de profesores</h1>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="btn-group">
        <a href="{% url 'profesor_nuevo'%}">
          <button id="sample_editable_1_new" class="btn btn-success">
            Agregar Profesor
            <i class="fa fa-plus"></i>
          </button>
        </a>
      </div>
    </div>
<div class="col-md-12 col-sm-12 col-xs-12" >
  <div class="table-responsive">
    <table class="table table-bordered ">
      <thead>
        <tr role="row" class="">
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Dpi</th>
          <th>Email</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
        {% for profesor in profesores %}
        <tr>
            <td>{{ profesor.nombre }}</td>
            <td>{{ profesor.apellido|linebreaksbr }}</td>
            <td>{{ profesor.dpi }}</td>
            <td>{{ profesor.email }}</td>
            <td>
              <a href="{% url 'profesor_ver' pk=profesor.pk %}" class="btn btn-warning">Ver</a>
              <a href="{% url 'profesor_editar' pk=profesor.pk %}" class="btn btn-primary">Editar</a>
            </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
</div>
</div>
{% endblock %}
